{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block content_title %}
<h3> Attendance </h3>
{% endblock %}
{% block field_sets %}
{% endblock %}
{% block after_field_sets %}
{% endblock %}

{% block inline_field_sets %}
{% endblock %}

{% block after_related_objects %}
{% endblock %}

{% block submit_buttons_bottom %}
{% endblock %}



{% block form_top %}
<style>
    html,
    body {
        width: 100%;
        height: 100%;
        font-family: "Open Sans", sans-serif;
        padding: 0;
        margin: 0;
    }

    #context-menu {
        position: fixed;
        z-index: 10000;
        width: 150px;
        background: #1b1a1a;
        border-radius: 5px;
    }

    #context-menu .item {
        padding: 8px 10px;
        font-size: 15px;
        color: #eee;
        cursor: pointer;
        border-radius: inherit;
    }

    #context-menu .item:hover {
        background: #343434;
    }

    #context-menu {
        position: fixed;
        z-index: 10000;
        width: 150px;
        background: #1b1a1a;
        border-radius: 5px;
        display: none;
    }

    #context-menu.visible {
        display: block;
    }

    .reas {
        display: none;
    }
</style>

<div class="container ml-0 mr-0">
    <div class="nav d-flex">
        <form method="post">
            {% csrf_token %}
            <div class="dept d-flex p-2 pt-5 pb-5">
                <h4 class=" pr-3">Department</h4>
                <select name="department">
                    <option>CSE</option>
                    <option>ECE</option>
                    <option>EEE</option>
                    <option>MECH</option>
                    <option>Civil</option>

                </select>
            </div>
            <div class="year d-flex p-2  pt-5 pb-5">
                <h4 class=" pr-3">Year</h4>
                <select name="year">
                    <option>First</option>
                    <option>Second</option>
                    <option>Third</option>
                    <option>Fourth</option>
                </select>
            </div>
            <div class="year d-flex p-2  pt-5 pb-5">
                <h4 class=" pr-3">Date</h4>
                <input type="date" id="date" name="date">
            </div>
            <div class="date d-flex p-2 pt-5 pb-5">
                <button type="submit" id="fsub" class="btn btn-primary" onclick="">Submit</button>
            </div>
        </form>
    </div>
    {% if values %}
    <div class="content ml-0">
        <div class="content ml-0">
            <div id="context-menu">
                <div class="item">Ab</div>
                <div class="item">Od</div>
            </div>
            <table class="table bg-light rounded w-auto">
                <thead>
                    <th>Name</th>
                    {% for i in subname %}
                    <th>{{i}}</th>
                    {% endfor %}
                    <th>Present/Abs/Od</th>
                </thead>
                <tbody>
                    {% for i in student %}
                    <tr class="trow">
                        <td class="stuName">{{i.name}}</td>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <input type="radio" class="pre text-primary" onclick="spres(this)" checked> &#x2713;
                                </div>
                                <div>
                                    <input class="abs" type="radio" onclick="sabs(this)"> ab
                                    <input type="text" placeholder="Reason" class="reas">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <input type="radio" class="pre text-primary" onclick="spres(this)" checked> &#x2713;
                                </div>
                                <div>
                                    <input class="abs" type="radio" onclick="sabs(this)"> ab
                                    <input type="text" placeholder="Reason" class="reas">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <input type="radio" class="pre text-primary" onclick="spres(this)" checked> &#x2713;
                                </div>
                                <div><input class="abs" type="radio" onclick="sabs(this)"> ab
                                    <input type="text" placeholder="Reason" class="reas">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <input type="radio" class="pre text-primary" onclick="spres(this)" checked> &#x2713;
                                </div>
                                <div>
                                    <input class="abs" type="radio" onclick="sabs(this)"> ab
                                    <input type="text" placeholder="Reason" class="reas">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <input type="radio" class="pre text-primary" onclick="spres(this)" checked> &#x2713;
                                </div>
                                <div><input class="abs" type="radio" onclick="sabs(this)"> ab
                                    <input type="text" placeholder="Reason" class="reas">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <input type="radio" class="pre text-primary" onclick="spres(this)" checked> &#x2713;
                                </div>
                                <div><input class="abs" type="radio" onclick="sabs(this)"> ab
                                    <input type="text" placeholder="Reason" class="reas">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <input type="radio" class="pre text-primary" onclick="spres(this)" checked> &#x2713;
                                </div>
                                <div><input class="abs" type="radio" onclick="sabs(this)"> ab
                                    <input type="text" placeholder="Reason" class="reas">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <input type="radio" class="pre text-primary" onclick="spres(this)" checked> &#x2713;
                                </div>
                                <div><input class="abs" type="radio" onclick="sabs(this)"> ab
                                    <input type="text" placeholder="Reason" class="reas">
                                </div>
                            </div>
                        </td>
                        <td class="d-flex">
                            <div class="prechecking pr-2">
                                <input type="radio" class="pao" checked onchange="prechecking(this)">Pre
                            </div>
                            <div class="abscheck pr-2">
                                <input type="radio" class="pao" onchange="abschecking(this)">Abs
                            </div>
                            <div class="odcheck pr-2">
                                <input type="radio" class="pao" onchange="odchecking(this)">Od
                            </div>
                            <textarea style="display:none" placeholder="Reason"></textarea>

                        </td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="ml-5">
            <button class="btn btn-primary" onclick="attSubmit(event)">Save</button>
        </div>
        {% else %}
        <h4>Please Fill input Field</h4>
        {% endif %}
    </div>
    </body>
    <script type="text/javascript">
        /* var fsub = document.getElementById('fsub')
         fsub.addEventListener('click',()=>{
             console.log('clicked');
            
         })*/
        let today = new Date().toISOString().substr(0, 10);
        document.getElementById("date").value = today;
        setTimeout(() => {
            var err = document.querySelector('.alert')
            err.style.display = 'none'
        }, -1000);

        // single present checked
        function spres(that) {
            that.parentNode.parentNode.lastElementChild.children[1].style.display = "none"
        }
        function sabs(that) {
            that.nextSibling.nextSibling.style.display = "block"
        }

        // right click event 

        const contextMenu = document.getElementById("context-menu");
        const scopes = document.querySelectorAll(".abs");
        var currentTarget;
        scopes.forEach((scope) => {
            scope.addEventListener("contextmenu", (event) => {
                event.preventDefault();
                currentTarget = event.currentTarget;

                const { clientX: mouseX, clientY: mouseY } = event;

                contextMenu.style.top = `${mouseY}px`;
                contextMenu.style.left = `${mouseX}px`;

                contextMenu.classList.add("visible");

                var body = document.querySelector("body");
                body.addEventListener('click', () => {
                    contextMenu.classList.remove("visible");

                });
            });
        })
        var items = document.querySelectorAll(".item");
        items[0].addEventListener('click', () => {
            currentTarget.checked = true;
            currentTarget.nextSibling.data = ' ab'
            currentTarget.nextSibling.nextSibling.style.display = "block"
        })
        items[1].addEventListener('click', () => {
            currentTarget.checked = true;
            currentTarget.nextSibling.data = ' Od'
            currentTarget.nextSibling.nextSibling.style.display = "block"
        })
        // Give name for all present Absent radio buttons  


        const table = document.querySelector('table');

        const rows = table.querySelectorAll('tr');
        rows.forEach((row, index) => {
            const tds = row.querySelectorAll('td');

            tds.forEach((td, indextd) => {
                const name = `p${index}${indextd}`;

                const radioButtons = td.querySelectorAll('input[type="radio"]');

                radioButtons.forEach(radioButton => {
                    radioButton.name = name;
                });
            });
        });

        // presentchecking

        function prechecking(that) {
            if (that.checked) {
                var abs = that.parentNode.parentNode.parentNode.querySelectorAll('.abs');
                var pres = that.parentNode.parentNode.parentNode.querySelectorAll('.pre');
                var textarea = that.parentNode.parentNode.querySelector("textarea");

                abs.forEach((ab) => {
                    ab.removeAttribute("checked", "checked")
                })
                pres.forEach((pre) => {
                    console.log(pre);
                    pre.setAttribute("checked", "checked");
                })
                textarea.style.display = "none"
            }

        }
        // Absentchecking
        function abschecking(that) {
            if (that.checked) {
                var abs = that.parentNode.parentNode.parentNode.querySelectorAll('.abs');
                var pres = that.parentNode.parentNode.parentNode.querySelectorAll('.pre');
                var textarea = that.parentNode.parentNode.querySelector("textarea");
                textarea.style.display = "block";
                abs.forEach((ab) => {
                    ab.nextSibling.data = ' ab'
                    ab.setAttribute("checked", "checked")
                })
                pres.forEach((pre) => {
                    pre.removeAttribute("checked", "checked");
                })

            }
        }
        // ODchecking
        function odchecking(that) {
            if (that.checked) {
                var textarea = that.parentNode.parentNode.querySelector("textarea");
                textarea.style.display = "block";
                var abs = that.parentNode.parentNode.parentNode.querySelectorAll('.abs');
                var pres = that.parentNode.parentNode.parentNode.querySelectorAll('.pre');
                abs.forEach((ab) => {
                    ab.nextSibling.data = ' Od'
                    ab.setAttribute("checked", "checked")
                })
                pres.forEach((pre) => {
                    pre.removeAttribute("checked", "checked");
                })
            }
        }

        // checking present and absent and od and give the class name

        rows.forEach((row, i) => {
            var pao = row.querySelectorAll(".pao");
            let name = `pao${i}`
            pao.name = name;

        })

        function attSubmit(event) {
            event.preventDefault()
            url = "/api/attendSubmit"
            var trow = document.querySelectorAll('.trow')
            var date = document.getElementById('date').value
            var drow = []
            trow.forEach((i, ind) => {
                var name = i.querySelector(".stuName")
                var pre = i.querySelectorAll('.pre')
                var abs = i.querySelectorAll('.abs')
                var reason = i.querySelector("textarea");
                drow.push({ name: name.innerText })
                pre.forEach((j, index) => {
                    if (j.checked) {
                        drow[ind][`period_${index + 1}`] = 'Present'
                        drow[ind][`p${index + 1}reason`] = ""
                    }
                })
                abs.forEach((j, index) => {

                    if (j.checked) {
                        // console.log(j.nextSibling.innerText.includes('ab'));
                        var text = j.nextSibling.data
                        if (text.includes('ab')) {
                            console.log("We won Saravana!")
                            drow[ind][`period_${index + 1}`] = 'Absent'
                            drow[ind][`p${index + 1}reason`] = j.nextSibling.nextSibling?.value || ""
                        }
                        else if (text.includes('Od')) {
                            drow[ind][`period_${index + 1}`] = 'On Duty'
                            drow[ind][`p${index + 1}reason`] = j.nextSibling.nextSibling?.value || ""
                        }
                    }

                })
                drow[ind]["Reason"] = reason.value
            })
            drow.push(date)

            drow.map((i) => {
                console.log(i)
            })
            /*drow.map((i) => {
                for(var j in i){
                    console.log(i[j])
                }
                
            })
            */
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'applications/json',
                    'X-CSRFToken': '{{csrf_token}}'
                },
                body: JSON.stringify(drow)
            })
                .then((response) => {
                    console.log(response)
                })
                .catch(function (error) {
                    console.log(error)
                })
        }

    </script>

    {% endblock %}